<?xml version="1.0" encoding="UTF-8" standalone="no"?><Options><Version_Number>0.7.3</Version_Number><Graphics><Resolution><Width>1440</Width><Height>900</Height></Resolution><Fullscreen>false</Fullscreen></Graphics><Controls><PAUSE>1</PAUSE><LEFT>30</LEFT><JUMP>17</JUMP><DOWN>31</DOWN><RIGHT>32</RIGHT></Controls></Options>